/* Import tailwind & tailwind layer */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .resizable-panel-group {
    @apply flex h-full w-full data-[panel-group-direction=vertical]:flex-col;
  }

  .resizable-panel-resize-handle {
    @apply relative flex w-px items-center justify-center bg-border;
  }

  .resizable-panel-div {
    @apply z-10 flex h-4 w-3 items-center justify-center rounded-sm border border-default bg-border [&>svg]:w-3 [&>svg]:h-3;
  }
  
}