/* Import tailwind & tailwind layer */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .skeleton-component {
        @apply animate-pulse rounded-full bg-muted;
    }

    .skeleton-line {
        @apply h-4 w-full;
    }

    .skeleton-circle {
        @apply h-12 w-12;
    }

}