@import '../../design-tokens/export/foundations.css';
@import '../../design-tokens/export/tokens-light.css';
@import '../../design-tokens/export/brand.css';


/* CARD FOR COLORS */

.color-card-list {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.color-card {
    display: flex;
    border: 1px solid rgba(38,38,38,1);
    border-color: rgba(38,38,38,1);
    margin: 4px;
    padding: 8px;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

.color-swatch {
    height: 40px;
    width: 40px;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}