@import '../../design-tokens/export/foundations.css';
@import '../../design-tokens/export/tokens.css';
@import '../../design-tokens/export/brand.css';

:root {
  --nextra-primary-hue: var(--brand-hue);
  --nextra-primary-saturation: var(--brand-hue);
}

/*
body {
  font-family: var(--font-family-font-serif);
}
*/

.docs_logo {
  font-weight: 600;
  font-size: 1.5rem;
}

.nx-px-2 {
  padding: 0.355rem 1rem;
}

.nx-rounded {
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.nx-rounded-lg {
 border-radius: var(--border-radius);
 -webkit-border-radius: var(--border-radius);
 -moz-border-radius: var(--border-radius);
 -ms-border-radius: var(--border-radius);
 -o-border-radius: var(--border-radius);
}
