@import './brand.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nextra-primary-hue: var(--brand-hue);
  --nextra-primary-saturation: var(--brand-hue);
}

/*
body {
  font-family: var(--font-family-font-serif);
}
*/

.docs_logo {
  font-weight: 600;
  font-size: 1.5rem;
}

.nx-px-2 {
  @apply py-1.5 px-4;
}

.nx-rounded {
  @apply rounded-radius;
}

.nx-rounded-lg {
 @apply rounded-radius;
}
