@font-face {
  font-family: 'GeistSans';
  src: url('../fonts/GeistSans.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeistMono';
  src: url('../fonts/GeistMono.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'GeistSans', sans-serif !important;
}

.font-mono {
  font-family: 'GeistMono', monospace !important;
}